/* WRAPPER */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* HEADER CSS */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.left-block {
  width: 60%;
}
.left-block > div {
  display: inline-block;
  height: 100%;
}
.logo {
  width: 29%;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}
.logo > a {
  color: white;
}
.logo > a:hover {
  color: white;
}

.nav {
  width: 69%;
  color: green;
}
/* nav in AntdDesignLayaout */
.ant-menu-horizontal {
  align-self: center;
}

.rigth-block {
  width: 20%;
}
/* USER */
.user-input {
  color: #eee;
  align-self: center;
  font-size: 24px;
  transition: 0.7s ease;
}
.user-input:hover {
  color: rgb(247, 55, 55);
  transition: all 0.4s ease;
  cursor: pointer;
}
/*MAIN CSS*/

/*FOOTER CSS*/
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
  color: #eee;
  background: #001529;
}

/*_________*/
