/*FOOTER CSS*/
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color: #eee;
  background: #281f55;
}
.footer-nav > li {
  position: relative;
  border: 1px solid #eee;
  margin: 0 5px;
  border-radius: 50%;
}

.author {
  font-family: "Bebas Neue", cursive;
  font-size: 12px;
  align-self: center;
  margin: 0;
}
