
.icon-back:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */